body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #715f5f;
  color: #333;
}

header {
  background-color: #100f0f;
  color: #b50d0d;
  padding: 20px;
  text-align: center;
}

section {
  margin: 40px 20px;
  padding: 20px;
  background-color: #d7caca;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  color: #000000;
}

p {
  color: #666;
}
h1{
  color: white;
}